
<div fxLayout="column" fxLayoutAlign="center center" [ngClass]="{screenHeight: true}" fxLayoutGap="1%" >
    <div fxLayoutAlign="center center" [ngClass]= "{frame: true}">
        <!-- We are rotating the div and give a div fixed height and width -->
        <div [ngStyle]="{'transform': rotateValue}" [ngClass]= "{invisibleFrame: true}" >
            <img src="{{imageUrl | defaultImage: '../../../../../assets/default images/Default_avaitar.png' }}"  [ngClass]="{imageDimenstions: true}"  >
        </div>
    </div>
    <div fxLayoutAlign="space-evenly center" fxLayoutGap="2%" [ngClass]="{rowWidth: true}">
        <button mat-icon-button color="primary" (click)="rotate('left')"><mat-icon>rotate_left</mat-icon>
        </button>
        <button mat-raised-button color="primary"  (click)="fileUpload.click()" #upload>Upload</button>
        <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="updateFile($event)"
        hidden accept="image/*">
        <button mat-icon-button color="primary" (click)="rotate('right')"><mat-icon>rotate_right</mat-icon></button>
    </div>
</div>